.ProductDescription {
    padding-top: 50px;
}

.ProductDescription a {
    color: #555;
    font-size: 12px;
}

.ProductDescription .Name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.ProductDescription .Price {
    font-size: 35px;
    color : #555;
    font-weight: bold;
}

.ProductDescription .Description {
    font-size: 14px;
    text-align: justify;
}

.ProductDescription .ButtonCart {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .ProductDescription .Price, .Name {
        text-align: center;
    }
}